extends ./layouts/app
block content
    .container.my-5
        .row.justify-content-center
            .col-md-8
                .card.border-0.shadow-lg
                    .card-body
                        h1 Registration
                        form.mt-3.form(action="/users/register" method="POST")
                            fieldset.form-group
                                label Username
                                input.form-control(type="text" name="username")
                            fieldset.form-group
                                label Password
                                input.form-control(type="password" name="password")
                            fieldset.form-group
                                label Captcha
                                .block.mb-2.text-center
                                    img(src="/captcha" alt="Captcha image")
                                input.form-control(placeholder="Enter the text from the image..." type="text" name="captcha")
                            .text-center.mt-4
                                button.btn.btn-primary.px-5 Register
                            .text-center.mt-3.mb-1.text-muted OR
                            .text-center
                                a(href="/login") Login