.v > .list-group-item {
  cursor: pointer;
  transition: all 0.5s ease;
}
.v > .list-group-item:not(.active):hover {
  background: #f3f3f3;
}
ul.v {
  max-height: 500px;
  overflow-y: scroll;
}
.message .m > p {
  background: #009688;
  color: #fff;
  border-radius: 4px;
  padding: 8px 10px;
  font-size: 15px;
}
.message .right p {
  background: #03a9f4;
}
.message .m > p {
  max-width: 500px;
  text-align: left;
}
.m strong {
  text-transform: capitalize;
}
.message {
  margin-bottom: 15px;
}
.message:last-child {
  margin-bottom: 0px;
}
#messages {
  height: 400px;
  overflow-y: scroll;
}
.message .m {
  float: left;
}
.message {
  text-align: left;
}
.message .right {
  text-align: right;
}
.message .right .m {
  float: right;
}

.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 192092;
  background: rgba(204, 204, 204, 0.75);
}

.loader .spinner-border {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50px;
  width: 50px;
}
